
<div class="jumbotron", id="request-new">

    <div class="container"> 
    <hr>
        <div class="row">
            <div class="col-sm-8">
                <h1>Контакты</h1>
                <p>Наш адрес:</p>
                <p>г. Новокуйбышевск пр.Победы 38а</p>
                <p>Tел +7 967 762 66 63 и +7 927 604 50 50</p>
                 <p>Часы работы: </p>
                <%= link_to "https://vk.com/kids_klub_nsk", class: "btn btn-block btn-social btn-vk", id: 'social' do %>
                    <span class="fa fa-vk"></span> Мы в ВКонтакте!
                <% end %>
                <%= link_to "https://www.instagram.com/kids_klub_nsk/", class: "btn btn-block btn-social btn-instagram", id: 'social' do %>
                    <span class="fa fa-instagram"></span> Мы в Instagram!
                <% end %>
                TODO: Google Map point
            </div>
            <div class="col-sm-4">
            <p style="font-size: 25px;">Запишитесь на пробное занятие!</p>
               <%= render 'requests/form'%>
            </div>
        </div>  
    </div>
</div>