<% if @request.errors.any? %>
    <div id="error_explanation">
        <div class="alert alert-danger">
            В форме обнаружено <%= @request.errors.count%> ошибок.
        </div>
        <ul>     
            <% @request.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
            <% end %>
        </ul>
    </div>
<% end %>       