<div class="jumbotron", id="request-new">
    <div class="container"> 
        <h1>Прийти к нам на пробное занятие очень просто</h1>
        <p>Заполните, пожалуйста, расположенную ниже форму. Мы с вами свяжемся и пригласим.</p>
        
        <%= render 'form' %>
    </div>
</div>
