<%= provide(:title, "Комплексное развитие") %>
<%content_for :course do %>
    <h1>Комплексное развитие для детей 3-4 лет</h1>
    <%= image_tag "course2/1.jpg", class: 'article-photo'%>
    <p>Занятия включают разнообразные виды деятельности: развитие речи, совершенствование двигательных навыков, сенсорных и математических представлений, развитие конструктивных способностей и психических процессов ( внимание, мышление, память)</p>
    <p>Наши занятия предусматривают частую смену видов деятельности, чередуются упражнения за столом с подвижными играми, музыкальными разминками.</p>
    <p>Мы предлагаем два варианта расписания : по часу два раза в неделю вечерами в будни и субботнюю 2-х часовую группу (занимаемся один раз в неделю, но сразу 2 часа с переменкой на чаепитие))</p>
    <p>В этом возрасте занятия проходят без родителей. Но если ребёнок пока не отпускает мамочку, то первое время она может присутствовать на уроке.</p>
<% end %>