<%= provide(:title, "Английский для школьников")%>
<%content_for :course do %>
    <h1>Английский для школьников.</h1>

<p>Школьный английский — легко!
<br><br>
Улучшить оценки в школе по английскому?<br>
Успешно писать тесты и контрольные?<br>
Наконец то понять разницу между Present Indefinite и Present Continuous? <br>
Получить преимущества для успехов в будущем?
<br><br>
Все это возможно на наших курсах по Школьному английскому!
<br><br>
Для улучшения успеваемости или подготовки к экзаменам по английскому языку, мы рекомендуем не откладывать и не ждать сентября, а начать прямо сейчас!
<br><br>
Мы не будем изучать английский по Оксфордским или Кембриджским учебникам, мы не обещаем вам, что ребенок через месяц бегло заговорит по английски и преодолеет языковой барьер.
<br><br>
Но мы гарантируем, что школьник наконец-то разберется с транскрипцией и артиклями, разложит по полочкам все английские времена, будет знать структуру и порядок слов в предложениях, научится говорить и понимать английскую речь на слух.
<br><br>
Приглашаем учеников 2-6 классов на занятия школьным английским в мини-группах.
</p>
<% end %>