<%= provide(:title, "Логопед")%>
<%content_for :course do %>
<h1>Логопед (индивидуальные занятия)</h1>
<p>
В нашем клубе работает логопед - психолог с 20 летним 
стажем Юлия Владимировна.<br>
Оценка ее работы - более 50 выпускников нашего клуба!<br>
Правильно поставленная и чистая речь ребёнка - 
залог дальнейшего успеха вашего ребёнка в учебе и жизни.<br><br>

Занятия проходят по индивидуальному графику, который мы вам 
предложим, исходя из ваших возможностей.
</p>
<% end %>