<%= provide(:title, "Ментальная арифметика")%>
<%content_for :course do %>
    <h1>Ментальная арифметика</h1>

    <p><li class="plus-mark">Плюсы ментальной арифметики</li></p>
    <%= image_tag "course9/3.jpg", class: 'article-photo min-width', style: "float: right;"%>
    <p>
        Ментальная арифметика создана для ускоренного умственного 
        счета без бумаги и калькулятора, таким образом, развивая и
        нтеллект ребенка.
    </p>
    
    <p>В результате обучения дети получают следующие способности:</p>
    
    <ul class="check-mark">
        <li>умение сосредотачиваться на одной задаче;
        <li>умение быстро принимать решения;
        <li>умение мыслить логически;
        <li>развитие памяти;
        <li>развитие упорства;
        <li>развитие воображения;
        <li>умение мыслить творчески;
        <li>уверенность в себе и своих действиях.
    </ul>

    <h2>Для чего это нужно?</h2>
        
    <p>
        Считается, что обучение ментальной арифметике 
        способствует повышению успеваемости в школе не только 
        по математике, но и по всем остальным предметам, а развиваемая 
        в ходе обучения способность сосредотачиваться на поставленной 
        задаче ведет к достижению успеха в любом деле.
    </p>

    <p>
        Как видите плюсов достаточно много, поэтому 
        приглашаем ребят от 5 лет и старше в новые группы 
        по ментальной арифметике!
    </p>
    <%= image_tag "course9/2.jpg", class: 'article-photo full'%>
<% end %>