<%= provide(:title, "Изо-лепка")%>
<%content_for :course do %>
    <h1>Изо-лепка для детей 3-6 лет.</h1>

    <p>
        Ваш ребёнок любит рисовать, лепить, красить, вырезать, 
        клеить?? А как часто вы с ним занимаетесь дома всем этим?
        <br>
        Обычно у мамочек нет времени, после всех этих художеств 
        много мусора, да и вообще это надо же придумать как и что делать!

        <br><br>
        Но у нас есть решение!! Классный новый курс для детей 
        от 3-х до 6 лет под названием «Изо-лепка»!!
        <br><br>

        Что мы делаем на Изо-лепке??
        <ul class="check-mark">

            <li>Обязательно слушаем сказку или интересную историю</li>
            <li>Обсуждаем сюжет и своими руками создаём картину</li>
            <li>Используем цветную бумагу, краски, пластилин, 
            соленое тесто, природный материал, все то, что 
            поможет нам украсить и оживить нашу работу!!</li>
        </ul>
        <br><br>
        <p>Приходите на очень интересный, полезный и 
        такой любимый детьми курс по Изо-лепке!!</p>
    </p>
<% end %>