<%= provide(:title, "Мама и малыш")%>
<% content_for :course do %>
  <h1>Для деток от 10 месяцев до 2-х лет в нашем клубе работает группа «Мама и малыш».</h1>
                <p>
                    Авторы методики, по которой мы занимаемся рекомендуют делить группы по возрастам:
                    <ul>
                        <li> 10 мес-1,5 годика </li>
                        <li> 1,5 годика - 2 года </li>
                        <li> 2-3 года.  </li>
                    </ul>
                </p>

                <p> 
                    Во всех группах малыши занимаются вместе с мамочками (или бабушками, папами, нянями)
                    Совместная деятельность очень важна для развития ребёнка.
                    Как писал известный психолог Лев Выготский «благодаря совместной деятельности ребенка со взрослым первый развивается и может выполнить более сложные задания.»
                </p>
                <p> 
                    Итак, чем же занимаются малыши на занятиях?
                    Каждый урок посвящён отдельной теме и разбит на блоки:
                    <ul class="check-mark">
                        <li>Приветствие</li>
                        <li>Окружающий мир</li>
                        <li>Развитие речи</li>
                        <li>Музыкальная разминка</li>
                        <li>Математический блок</li>
                        <li>Двигательная пауза</li>
                        <li>Упражнения на мелкую моторику</li>
                        <li>Логоритмика</li>
                        <li>Творческий блок</li>
                        <li>Прощание</li>
                    </ul>
                </p>
                <p>
                    Все блоки пронизаны темой урока. Например, если тема урока «Дождик», то говорим мы о дождике)), считаем капельки, слушаем песенки и стишки про дождик и творческая работа также посвящена дождику.
                    <br><br>
                    Несмотря на насыщенность урока, всё проходит легко, весело, подвижно и очень интересно! Этот час пролетает незаметно, малышам так нравится заниматься, что мамочки с трудом уводят их из клуба домой))
                    Приходите на пробный урок и всё увидите сами
                </p>
<% end %>
                