<%= provide(:title, "Английский для малышей")%>
<%content_for :course do %>
    <h1>Английский язык для малышей.</h1>

    <p>
        Именно в 4 года многие специалисты рекомендуют начинать 
        знакомиться с иностранными языками. В этом возрасте у детей 
        очень хорошая память, они любопытны и любознательны. Вот этими 
        качествами и пользуется наш замечательный педагог Наталья Юрьевна.
    </p>
    <%= image_tag "course3/1.jpg", class: 'article-photo full'%>
    <p>
        В игровой форме, используя игрушки, веселые картинки, 
        видеоролики, песенки и стишки детки знакомятся с новыми словами, 
        фразами, повторяют их и потихоньку начинают говорить по-английски. 
        Занятия проходят весело и непринужденно.На каждый праздник ребята 
        готовят сюрпризы, учат стишки, песни и разыгрывают сценки.
        Основной упор делается на разговорную речь, на понимание английской 
        речи.
    </p>
    <%= image_tag "course3/2.jpg", class: 'article-photo full'%>
<% end %>