<%= provide(:title, "")%>
<%content_for :course do %>
<h1>Городской лагерь для ребят от 6 до 12 лет</h1>
⠀<%= image_tag "course8/2.jpg", class: 'article-photo'%>
<h2>Что такое наш городской лагерь?</h2>
<p>
Это полноценный, весёлый и здоровый отдых для ребят
</p>
<h2>Вот несколько интересных фактов о лагере:</h2>

<ul class="check-mark">⠀
<li>Главная задача на каникулах - качественно отдохнуть от напряженного школьного ритма. Именно поэтому больше всего в нашем лагере ребята ИГРАЮТ - свободная игра в уютной игровой, подвижные игры на прогулках, настольные игры с вожатыми;
<li>Атмосфера лагеря похожа на домашнюю, старшие помогают малышам, ежедневно после обеда обязательный отдых с чтением вслух интересных историй и сказок;
<li>Ребята каждый день много гуляют;
<li>Многие ребята приходят к нам еще и еще, родители говорят, что иногда детям трудно дождаться каникул, так хочется скорее к нам;
</ul>
 <h2>Чего у нас нет:</h2>
<ul class="cross-mark">
<li>у ребят нет в свободном доступе мобильных телефонов.<br>
Мы считаем важным живое общение и полное погружение в происходящие процессы.
<li> нет аниматоров, которые развлекают вашего ребёнка.<br>
Мы считаем, что привычка "меня будут развлекать" очень вредна! Мы за то, чтобы дети могли сами устраивать свой досуг и вырастали самостоятельными взрослыми!
</ul>
<h2>Как у нас всё проходит?</h2>
<p>
Посмотрите фотографии 
<%= link_to "в альбоме ВК", "https://vk.com/album-54482696_275330242" %> 
с прошедших лагерей.<br><br>
И приходите к нам! Мы проводим лагеря уже 3 года!
Родители доверяют нам своих детей!
<br><br>
Смена 5 дней. Время работы лагеря с 8.00 до 18.00
</p>
<%= image_tag "course8/1.jpg", class: 'article-photo full   '%>
<% end %>